@charset "UTF-8";

body{
	font-family: 'Roboto Slab', serif;
	display:flex;
	justify-content: center;
}
.desc-text{
	margin-top: 0;
padding-top: 0px;
font-size: 1.4em;
margin-bottom: 1em;
font-weight: 500;
}
.error{
	color: red;
}
input{
	padding: .5em .5em;
	border: 1px solid #c4eddc;
}
.login-form-position{
	border: 1px solid #c4eddc;
	box-shadow:0px 5px 15px #c4eddc;
	margin: 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3em 5em;
	padding-top: 2em
}
.login-form{
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 250px;
}
label{
	font-size: 1.1em;
}
.username-field{
	margin: .5em 1em;
}
.password-field{
	margin: .5em 1em;
}

.reg-text{
	text-decoration: none;
	margin-top: 1em;
	text-align: center;
}
.reg-text:hover{
	text-decoration: underline;
}

.submit-form-btn{
	padding: .5em 2em;
	color:#68ab8e;
	text-align:center;
	font-weight: 400;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 0;
	margin-left: 1em;
	border: 1px solid #c4eddc;
	background-color: white;
	width: 200px;
}
.submit-form-btn:hover{
	box-shadow:0 5px 15px #c4eddc;
	background-color:#c4eddc;
}